<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="4b757163-4b7b-45fb-8941-fe48cfcfcacc" Publisher="CN=Abel" Version="0.1.0.0" />
  <Properties>
    <DisplayName>Print4e</DisplayName>
    <PublisherDisplayName>Arlo Belshee</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Print4e.App">
      <VisualElements DisplayName="Print4e" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="A simple app to print your 4e characters as a set of cards. Both the character sheet and all powers are cards, all designed for easy reference during play." ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="4echaracter">
            <DisplayName>D&amp;D 4e Character</DisplayName>
            <EditFlags OpenIsSafe="true" />
            <SupportedFileTypes>
              <FileType ContentType="text/xml">.dnd4e</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
</Package>